html{
  font-size:100%;
  scroll-behavior: smooth;
}
.scanim{
  animation:scan 0.7s forwards;
}
@keyframes scan{
  0%{
    filter:blur(10px);

  }
  100%{
    filter:blur(0px);
  }
}
body{
  background-color:black;
  background-image:url('./star.jpg');
  background-size: 100em;
    background-repeat:repeat-y;
    color:white;
    font-family:"raleway";
  }
/**Main page*/
#resume{
  border:1px solid white;
  padding:0.5em 0.5em;
  border-radius:0em;
  transition:all 0.5s ease-out 0s;
  color:white;
  text-decoration:none;
}
#name{
  color:red;
  font-size:2.2rem;
}
#resume:hover{
  background-color:white;
  color:black;
}
nav{
  z-index:99;
}

#wel
{
  color:white;
  font-weight:600;
  font-size:1rem;
  display:inline-block;
  margin-bottom:0;
  height:fill;
  width:fill;
  padding:0.2em 0.2em;
  border-radius:0.3em;
  background-image: linear-gradient(to right top, #1d1f20, #193356, #62347b, #bb0068, #eb121c);
}
.pc {
  display: flex;
  background-color: rgba(0, 0, 0, 0.305);
  padding-top: 0.5em;
  justify-content: space-around;
  width: 100%;
  font-size: 1.5rem;
  color: white;
  height: 7%;
  position: fixed;
  top: 0;
  left: 0;
}
.pc a{
  color:white;
  text-decoration:none;
  margin-top:0.3em;
}
#root div h1{
    position:relative;
    margin-bottom:0;
    font-size:2rem;
}
#main{
  width:60%;
}
#type{
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  background-image: linear-gradient(to right top, #d1d3d1, #a8c6a8, #7fb87e, #52a953, #049921);
  margin-top:0;

}
#helper{
  font-size:1.4rem;
  color:rgb(196, 194, 194);
}
#herosection{
  margin-left:5em;
  margin-top:13em;
  display:flex;
  flex-direction:row;
  width:150%;
}
#herosection img{
  width:40%;
  animation:mo 3s infinite ;
  animation-direction:alternate;
}
@keyframes mo{
  0%{
    transform:translateY(1em);
  }
  100%{
    transform:translateY(-1em);
  }
}
/**Main page end**/

/* Skill Section */

.skill-list img{
width: 8em;
height:8em;
margin:2em;
}
.skill-list1 img{
  width: 8em;
  height:8em;
  margin:2em;
  }
.skill-list{
  display:flex;
  flex-direction:row;
  animation:change 3s infinite;
  animation-direction:alternate-reverse;
}
.skill-list1{
  display:none;
  flex-direction:row;
  animation:change 3s infinite;
  animation-direction:alternate-reverse;
}
.skill-section {
  background-color:rgba(0, 0, 0, 0.572);
  overflow:hidden;
  text-align:center;
  width: 130%;
  height: 20em;
  margin: 30% 18%;
  padding-top:1em;
  border-radius:2em;
}
.skill-section p{
  font-size:1.3rem;
}
@keyframes change{
  to{
    transform:translateX(-20em);
  }
}
/*Skill section end*/

/*Project section start */
.pcard {
  filter:blur(3px);
  width: 100%;
  position: relative;
  height: 100%;
  z-index: -1;
  top: -215%;
}
.overlay {
  align-items:center;
  width: 100%;
  height: 100%;
  color:white;
  background-color:black;
  position: relative;
  z-index:1;
  transform: translateY(-101%);
}
.overlay-up{
  width: 100%;
  height: 100%;
  background-color:black;
  color: white;
  position: relative;
  top: -6.2%;
  z-index:1;
  animation:pullup 0.5s forwards;
}
.overlay-down{
  width: 100%;
  height: 100%;
  background-color:black;
  color: white;
  position: relative;
  top: -6.2%;
  z-index:1;
  animation:pulldown 0.5s forwards;
}
@keyframes pulldown
{
  from{
    transform:translateY(-101%);
    opacity:0;
  }
  to{
    transform:translateY(-0.5%);
    opacity:1;
  }
}
@keyframes pullup
{ 
  from{
    transform:translateY(0%);
    opacity:1;
  }
  to{
    transform:translateY(-101%);
    opacity:0;
  }
}

.project-card {
  width: 27%;
  height: 18em;
  border: 0.1em solid #9796966e;
  border-radius: 10%;
  overflow: hidden;
  margin-top: 2em;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 15%), 0 6px 20px 0 rgb(0 0 0 / 25%);
}
.pctitle {
  text-align: center;
  z-index: 99;
  padding-top: 23%;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0;
  color: white;
}
.pctitle img{
  width:20%;
}
.pctitl img{
  width:20%;
}
.pctitl {
  text-align: center;
  z-index: 99;
  padding-top: 5%;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.1em;
  color: white;
}
.pctitle a{
  color:white;
  text-decoration: none;
}
.pctitl a{
  color:white;
  text-decoration: none;
}
.pcdescription {
  text-align:center;
  position: relative;
  z-index: 99;
  font-size:1.1rem;
  margin: 0 0.5em;
  font-style:italic;
}

.project h1{
  text-align:center;
  margin-bottom:2em;
}

.project {
  background-color: rgba(0, 0, 0, 0.572);
  overflow: hidden;
  text-align: center;
  width: 131%;
  height: 28em;
  margin: 0% 18%;
  padding-top: 1em;
  border-radius: 2em;
}
.plist
{
  display:flex;
  justify-content:space-evenly;
}
.card {
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgb(0 0 0 / 54%);
  position: relative;
  bottom: 115%;
  z-index: 0;
}
.ctitle {
  text-align: center;
  z-index: -1;
  padding-top: 0%;
  font-size: 1.7rem;
  font-weight: 800;
  margin-bottom: 0.1em;
  position: relative;
  bottom: -34%;
}
.cdescription {
  text-align: center;
  z-index: -1;
  font-size: 1.1rem;
  margin: 0 0.5em;
  font-style: italic;
  position: relative;
  bottom: -35%;
}

/*project section end */

/*contact section start */

#contact {
  width: 166.5%;
  margin-top: 9em;
  padding-top: 2%;
  background-color: rgba(0, 0, 0, 0.572);
}
.inp {
  opacity: 1;
  width: 16em;
  height: 3em;
  border: none;
  border-radius: 0.5em;
  margin: 0.5em 0.5em;
  color: white;
  padding: 0 1em;
  background-color: #80808026;
}
::placeholder{
  font-size:1rem;
  opacity:1;
  text-align:center;
}
.c{
  display:flex;
  justify-content: center;
}
form h1{
  text-align:center;
}
textarea{
  opacity: 1;
  width: 16em;
  height: 3em;
  border: none;
  border-radius: 0.5em;
  margin: 0.5em 0.5em;
  color: white;
  padding: 0 1em;
  background-color: #80808026;
}
#text{
  display:flex;
  justify-content:center;
}
#submit {
  margin: 1% 46.7%;
  background-color: #0d0c0c;
  color: white;
  width: 7%;
  height: 2.3em;
  border: 0.5px solid;
}
footer {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin-left: 31%;
  /* background-color: black; */
}
#footer footer a img{
  width:10%;
}
#footer{
  width:167%;
  background-color:black;
}

@media only screen and (max-width:1280px){
  .project-card{
    height:13em;
  }
  .ctitle{
    bottom:-5%;
  }
  .cdescription{
    bottom:-9%;
  }
  .project{
    height:23em;
  }
  .pc-title{
    padding-top:17%;
  }

}
@media only screen and (max-width:866px){
  .skill-list img {
    width: 6em;
    height: 6em;
    margin: 1em;
}
  #submit {
    margin: 1% 44.7%;
    background-color: #0d0c0c;
    color: white;
    width: 12%;
    height: 2.3em;
    border: 0.5px solid;
}
  html{
    font-size:80%;
  }
#herosection img{
  display:none;
}
.plist{
  flex-direction:column;
  margin:0 30%;
}
#footer footer a img {
  width: 20%;
}
.project{
  height:52em;
}
.project-card{
  width:100%;
}
#herosection{
  width:140%;
  margin-left: 4em;
    margin-top: 11em;
}
.skill-list{
  animation:none;
  overflow-x: scroll;
}
.skill-list1{
  display:none;
  animation:none;
  transform: translateX(-100%);
}
.skill-section{
  height:20em;
}
.pc-title{
  padding-top:13%;
}
.pctitle{
  padding-top:13%;
}
}
@media only screen and (max-width:425px){
  #root div h1{
    font-size:1.5rem;
  }
  #herosection img{
    display:none;
  }

.pctitle img{
  width:13%;
}
.pctitl img{
  width:13%;
}
  .plist{
    flex-direction:column;
    margin-left:17%;
  }
  .project{
    height:52em;
  }
  .project-card{
    width:131%;
    height:12em;
  }
  html{
    font-size:70%;
  }

  }